body {
    background-color: gray;
}

.row {
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 20px;
    background-color: lightgray;
}

#today {
    margin-top: 0px;
}

#day-chart {
   width: 20vw; 
}

#recent-chart {
    height: 40vh;
}

