<!doctype html>
<html>
<head>
    <title>Paulina's HB Project</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if 'user_id' in session %}
      <h1><a href='/user_profile'>User Profile</a></h1>
      <h3><a href='/logout'>Log out</a></h3>
    {% endif %}

    {% block content %}CONTENT GOES HERE{% endblock %}
</body>
</html>