{% extends 'base.html' %}

{% block content %}
    <!-- Show basic user info -->
    <h1>{{ user_info.user.username }}'s Dashboard </h1>
    <h3>Email: {{ user_info.user.email }}</h3>

    <!-- Show mood logs -->
    <p>Mood logs:</p>
    
    <!-- Day Log Mood Chart -->
    <div class="mood-chart" style='height: 50vh; width: 75vw'>
      <canvas id="moodChart"></canvas>
    </div>
    <!-- <button type="button" id="toggle-events">Toggle Events</button><br><br> -->
    <script src='static/mood_chart.js'></script>
    <script>
        {% if user_info.user.days %}
            var firstLog = '{{ user_info.daylog_info.firstlog_date}}';
            var maxDate = moment().format('YYYY-MM-DD');
            // Select canvas for mood chart
            var ctx = $('#moodChart').get(0).getContext('2d');
            // Declare moodChart var outside AJAX request, so can access it outside later
            var moodChart;

            createMoodChart(firstLog, maxDate);
        {% endif %}

    </script>

    <div id='today-log-forms'>
            <h3>How Are You Doing Today?</h3>
            <br><br>
            <!-- EVENT LOG FOR TODAY MODAL -->
            <!-- Button trigger for today event log modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#todayEvent">
              Log Event
            </button>

            <!-- Today event log Modal -->
            <div class="modal fade" id="todayEvent" tabindex="-1" role="dialog" aria-labelledby="todayEventLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="todayEventLabel">What Happened Today?</h4>
                  </div>
                  <div class="modal-body">
                    <form class="event mood-form" action='/log_event_mood' method='POST'>
                        <label for='event-name'>Event Name:</label>
                        <input id='event-name' type='text' name='event-name' required><br>
                       
                        <input id='today-event-date' type='hidden' name='today-event-date'>
                        <script>
                            // Get today's date and assign it to a hidden input
                            $('#today-event-date').val(moment().format('YYYY-MM-DD'))
                        </script>

                        <label for='event-overall-mood'>Overall Mood: </label>
                        <input class='event overall-mood' type='number' name='overall-mood' min='-50' max='50' required><br>

                        <!-- <p id='event-mood-range'>Range of Mood: 
                        <label for='event-min-mood'>Min: </label>
                        <input class='event min-mood' type='number' name='min-mood' min='-50' max='50'>

                        <label for='event-max-mood'>Max: </label>
                        <input class='event max-mood' type='number' name='max-mood' min='-50' max='50'><span class="event alert-msg" style='color:red;'></span><br>
                        </p> -->
                        <input name='max-mood' type='hidden'>
                        <input name='min-mood' type='hidden'>

                        <label for='event-notes'>Notes About This Event:</label>
                        <input class='event notes' type='textarea' name='notes'><br>

                        <input type='submit' value='Add Event Mood Log'>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END OF EVENT LOG FOR TODAY MODAL -->

            <!-- DAY LOG FOR TODAY MODAL -->
            <!-- Button trigger for today event log modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#todayLog">
              Log Today
            </button>
            <!-- Today day log Modal -->
            <div class="modal fade" id="todayLog" tabindex="-1" role="dialog" aria-labelledby="todayLogLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="todayLogLabel">How Did Your Day Go?</h4>
                  </div>
                  <div class="modal-body">
                    <form class="day mood-form" action='/log_day_mood' method='POST'>
                        <input id='today-date' type='hidden' name='today-date'>
                        <script>
                            // Get today's date and assign it to a hidden input
                            $('#today-date').val(moment().format('YYYY-MM-DD'))
                        </script>

                        <label for='day-overall-mood'>Overall Mood: </label>
                        <input class="day overall-mood" type='number' name='overall-mood' min='-50' max='50' required><br>

                        <p id='day-mood-range'>Range of Mood: 
                        <label for='day-min-mood'>Min: </label>
                        <input class="day min-mood" type='number' name='min-mood' min='-50' max='50'>

                        <label for='day-max-mood'>Max: </label>
                        <input class='day max-mood' type='number' name='max-mood' min='-50' max='50'>
                        <span class="day alert-msg" style='color:red;'></span><br>
                        </p>

                        <label for='day-notes'>Notes About This Day:</label>
                        <input class="day notes" type='textarea' name='notes'><br>

                        <input type='submit' value='Add Day Mood Log'>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END OF DAY LOG FOR TODAY MODAL -->
    </div>


    <!-- js for datepickers -->
    <script src='static/datepicker.js'></script>
    <script>
        // When DOM is ready
        $( function() {
            if ('{{ user_info.daylog_info.firstlog_date }}' == 'None') {
                $('.mood-chart').hide();
            }
            else if ('{{ user_info.daylog_info.lastlog_date }}' == moment().format('YYYY-MM-DD')
                && '{{ user_info.daylog_info.is_lastlog_valid }}' == 'True')
                $('#today-log-forms').html('<h1>You Have Already Logged Today</h1>')               

            $('.mood-form').on('submit', validateMoodRange);
        });
    </script>

    <!-- Show event logs -->
<!--     <h3>Events:</h3>
    
    <ul>
        {% for event in user_info.user.events %}
        <li>
            <b>{{ event.event_name }}</b>
            <ul>
                {% for day in event.days %}   
                    <li>{{ day.date }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>       
 -->
    <!-- Show prescription logs -->
    <h3>Prescriptions:</h3>
    <h4><a href='/drugs'>Add prescription from drug list</a></h4>

    <ul>
        {% for drug, prescription_list in user_info.prescriptions.items() %}
        <li>
            <b>{{ drug }}</b>
            <ul>
                {% for prescription in prescription_list %}
                <li>
                    <a href='prescription_info/{{ prescription.prescription_id }}'>
                        <!-- Notes whether prescription is active -->
                        {% if not prescription.end_date %}[ ACTIVE ]<br>{% endif %}
                        Prescribed by: {{prescription.pro_username}}<br>
                        Instructions: {{ prescription.instructions }}<br>
                        Start Date: {{prescription.start_date}}<br>
                        End Date: {{prescription.end_date}}<br>
                        Notes: {{prescription.notes}}<br>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>


{% endblock %}    