{% extends 'base.html' %}

{% block content %}
    <div class='container-fluid'>

        <!-- TODAY FEATURES: log events, day. View day chart -->
        <div class='row top-row'>

            <!-- Add logs for today -->
            <div class='col-xs-12 col-md-4 col-md-offset-1'>
                <h3 id='hi-message'>Hi {{ user_info.user.username }}, How Are You Doing Today?</h3><br><br>
                <!-- Button trigger for event log modal -->
                <div  id='add-logs'>
                    <br>
                    <button type="button" class="btn custom-button btn-lg text" data-toggle="modal" data-target="#todayEvent">
                    Log Event
                    </button><br><br>
                    <!-- Button trigger for day log modal -->
                    <button type="button" class="btn custom-button btn-lg" data-toggle="modal" data-target="#todayLog">
                      Log Today
                    </button>
                </div>
            </div>

            <!-- Chart of logs for today -->
            <div class='col-xs-12 col-md-4 col-md-offset-1'>
                <h3 id="today-logs">Logs for <span id='today-date-str'></span></h3>
                <div id='day-chart'>
                    <canvas id="dayChart"></canvas>
                </div>
            </div>
        </div>

        <!-- USER RESOURCES AT A GLANCE: logs in last 30 days. Active prescriptions -->
        <div class='row bottom-row' id ='summary'>

            <!-- last 30 day moodchart -->
            <div class='col-xs-12 col-md-6'>
                <h3> Last 30 days </h3>
                <div class='mood-chart'>
                    <canvas id="moodChart"></canvas>
                </div>
            </div>

            <!-- active prescriptions -->
            <div class='col-xs-12 col-md-4 col-md-offset-1 active-meds'>
                <h3>Active Prescriptions</h3>
                    {% for drug, prescription in user_info.prescriptions.iteritems() %}
                        <b>{{ drug.capitalize() }}</b>
                        <ul>
                            <li>Started {{ prescription.start_date }}</li>
                            <li>Prescribed by {{ prescription.pro }}</li>
                            <li>Instructions: {{ prescription.instructions }}</li>
                        </ul>
                    {% endfor %}               
            </div>
        </div>
    </div>

    <div id='today-log-forms'>
            <!-- Today event log Modal -->
            <div class="modal fade" id="todayEvent" tabindex="-1" role="dialog" aria-labelledby="todayEventLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="todayEventLabel">Log Event</h4>
                  </div>
                  <div class="modal-body">
                    <form class="event mood-form" action='/log_event_mood' method='POST'>
                        <label for='event-name'>Event Name:</label>
                        <input id='event-name' type='text' name='event-name' required><br>
                       
                        <input id='today-event-date' type='hidden' name='today-event-date'>
                        <script>
                            // Get today's date and assign it to a hidden input
                            $('#today-event-date').val(moment().format('YYYY-MM-DD'))
                        </script>

                        <label for='event-overall-mood'>Overall Mood: </label>
                        <input class='event overall-mood' type='number' name='overall-mood' min='-50' max='50' required><br>

                        <label for='event-notes'>Notes About This Event:</label>
                        <input class='event notes' type='textarea' name='notes'><br>

                        <input type='submit' value='Add Event Mood Log'>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END OF EVENT LOG FOR TODAY MODAL -->

            <!-- Today day log Modal -->
            <div class="modal fade" id="todayLog" tabindex="-1" role="dialog" aria-labelledby="todayLogLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="todayLogLabel">Log Day</h4>
                  </div>
                  <div class="modal-body">
                    <form class="day mood-form" action='/log_day_mood' method='POST'>
                        <input id='today-date' type='hidden' name='today-date'>
                        <script>
                            // Get today's date and assign it to a hidden input
                            $('#today-date').val(moment().format('YYYY-MM-DD'))
                        </script>

                        <label for='day-overall-mood'>Overall Mood: </label>
                        <input class="day overall-mood" type='number' name='overall-mood' min='-50' max='50' required><br>

                        <p id='day-mood-range'>Range of Mood: 
                        <label for='day-min-mood'>Min: </label>
                        <input class="day min-mood" type='number' name='min-mood' min='-50' max='50'>

                        <label for='day-max-mood'>Max: </label>
                        <input class='day max-mood' type='number' name='max-mood' min='-50' max='50'>
                        <span class="day alert-msg" style='color:red;'></span><br>
                        </p>

                        <label for='day-notes'>Notes About This Day:</label>
                        <input class="day notes" type='textarea' name='notes'><br>

                        <input type='submit' value='Add Day Mood Log'>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END OF DAY LOG FOR TODAY MODAL -->
    </div>

    <script src='static/main.js'></script>
    <script src='static/mood_chart.js'></script>
    <script>
        

        // Create day chart for today
        var dCtx = $('#dayChart').get(0).getContext('2d');
        var dayChart;
        var today = moment().format('YYYY-MM-DD');
        createDayChart(today);

        // Remove add log buttons if day has already been logged
        if ('{{ user_info.daylog_info.lastlog_date }}' == moment().format('YYYY-MM-DD') && '{{ user_info.daylog_info.is_lastlog_valid }}' == 'True') {
            $('#add-logs').html('<h1>You Have Already Logged Today</h1>');
        }
                               
        // Validate mood form before submission
        $('.mood-form').on('submit', validateMoodRange);

        // Create mood chart for last 30 days
        var ctx = $('#moodChart').get(0).getContext('2d');
        var moodChart;
        var minDate = moment().subtract(30, 'days').format('YYYY-MM-DD');
        var maxDate = moment().format('YYYY-MM-DD');
        createMoodChart(minDate, maxDate);

    </script>

{% endblock %}    