{% extends 'base.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <button type='button' class='move-time-button' value='backward' disabled>&lt;</button>
    <select id='chart-time-window' name='time-window'>
        <option value='all-time'>All time</option>
        <option value='monthly'>Monthly</option>
    <select>
    <button type='button' class='move-time-button' value='forward' disabled>&gt;</button>
    <br><br>
    <div class="mood-chart" style='height: 50vh; width: 75vw'>
      <canvas id="moodChart"></canvas>
    <div>
    <br>

    <button type="button" id="toggle-events">Toggle Events</button><br><br>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#day-log-modal">
      Log A New Day
    </button>

    <!-- Add Day Modal -->
    <div class="modal fade" id="day-log-modal" tabindex="-1" role="dialog" aria-labelledby="day-log-modal">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="day-log-title">Log Day </h4>
          </div>
          <div class="modal-body">
            <form id='day-mood-form' action='/log_day_mood' method='POST'>
                <label for='date'>Date: </label>
                <input type="text" id="date" name="date" readonly="true" required><br>

                <label for='overall-mood'>Overall Mood: </label>
                <input id='overall-mood' type='number' name='overall-mood' min='-50' max='50' required><br>

                <p id='mood-range'>Range of Mood: 
                <label for='min-mood'>Min: </label>
                <input id='min-mood' type='number' name='min-mood' min='-50' max='50'>

                <label for='max-mood'>Max: </label>
                <input id='max-mood' type='number' name='max-mood' min='-50' max='50'>
                <span id="alert-msg" style='color:red;'></span><br>
                </p>

                <label for='notes'>Notes About This Day:</label>
                <input id='notes' type='textarea' name='notes'><br>

                <input type='submit' value='Add Day Mood Log'>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script>
    // 'use strict';
    
        var options = { responsive: true,
                        maintainAspectRatio: false,
            // http://stackoverflow.com/questions/37061945/how-to-format-x-axis-time-scale-values-in-chart-js-v2
                        scales: {
                            xAxes: [{
                                type:'time',
                                unit: 'day',
                                unitStepSize: 1,
                                time: {
                                    displayFormats: {
                                        'day': 'MMM DD'
                                    },
                                    min: '{{ earliest }}',
                                    max: '{{ latest }}'                                
                                    } 
                            }],
                            yAxes: [{
                                ticks: {
                                    min: -50,
                                    max: 50
                                }
                            }]
                        },
                        legend: {
                                display: false
                            }
                        };
        var ctx = $('#moodChart').get(0).getContext('2d');
        var moodChart;
        $.get('/day_mood_chart.json', function (data) {
            // console.log(data);
            // data.datasets.push({data:[{x: '2016-10-20', y: 0}, {x: '2016-10-20', y: 10}]});
            // console.log(data);
            moodChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
        });
        });

        // function addEventChartData(evt){
        //     $.get('/event_mood.json', function (data) {
        //         moodChart.data.datasets.push.apply(moodChart.data.datasets, data);
        //         moodChart.update();
        //     });
        // }

        $('#toggle-events').on('click', function () {
            var events = moodChart.data.datasets.filter(function (dataset) {return dataset.label == 'event'});
            console.log(events);
            for (i=0; i<events.length; i++) {
                if (events[i].borderColor != 'rgba(255,153,0,0.4)') {
                    events[i].borderColor = 'rgba(255,153,0,0.4)';
                }
                else {
                    events[i].borderColor = 'rgba(0,0,0,0)';
                }
            }
            moodChart.update();

        });

        $('#chart-time-window').on('change', function () {
            var timeWindow = ($(this).val());
            if (timeWindow == 'monthly') {
                $('.move-time-button').attr('disabled', false);
                moodChart.options.scales.xAxes[0].time.min = moment().startOf('month');
                moodChart.options.scales.xAxes[0].time.max = moment().endOf('month');
                moodChart.update();
            }
            else {
                $('.move-time-button').attr('disabled', true);
                moodChart.options.scales.xAxes[0].time.min = '{{ earliest }}';
                moodChart.options.scales.xAxes[0].time.max = '{{ latest }}';
                moodChart.update();
            }
        });

        $('.move-time-button').on('click', function () {
            var timeWindow = ($('#chart-time-window').val());
            if (this.value == 'backward') {
                moodChart.options.scales.xAxes[0].time.min.subtract(1, 'month');
                moodChart.options.scales.xAxes[0].time.max.subtract(1, 'month');
                moodChart.update();
            }
            else if ((this.value == 'forward') && (moodChart.options.scales.xAxes[0].time.max < moment().endOf('month'))) {
                moodChart.options.scales.xAxes[0].time.min.add(1, 'month');
                moodChart.options.scales.xAxes[0].time.max.add(1, 'month');
                moodChart.update();
            }
        });

    </script>

{% endblock %}