{% extends 'base.html' %}

{% block content %}
    <h1>Log your mood for a day:</h1>
    <form id='day-mood-form' action='/log_day_mood' method='POST'>
        <label for='date'>Date: </label>
        <input type="text" id="date" name="date" readonly="true" required><br>

        <label for='overall-mood'>Overall Mood: </label>
        <input id='overall-mood' type='number' name='overall-mood' min='-50' max='50' required><br>

        <p id='mood-range'>Range of Mood: 
        <label for='min-mood'>Min: </label>
        <input id='min-mood' type='number' name='min-mood' min='-50' max='50'>

        <label for='max-mood'>Max: </label>
        <input id='max-mood' type='number' name='max-mood' min='-50' max='50'>
        <span id="alert-msg" style='color:red;'></span><br>
        </p>

        <label for='notes'>Notes About This Day:</label>
        <input id='notes' type='textarea' name='notes'><br>

        <input type='submit' value='Add Day Mood Log'>
    </form>

    <!-- To use the jquery ui datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        // When DOM is ready, turn date input to datepicker
        $( function() {
        $( "#date" ).datepicker({            
            minDate: '-1M',
            maxDate: new Date(),
            dateFormat: 'yy-mm-dd'
        });

        // LOOK INTO BEFORESHOWDAY TO DISABLE DAYS IN DATEPICKER
        } );
    </script>

    <script>
        function validateMoodRange(evt){
            var overallMood = $('#overall-mood').val()
            var minMood = $('#min-mood').val()
            var maxMood = $('#max-mood').val()

            if ((minMood && maxMood)) {
                // .val() returns str, need to make it int for comparisons
                overallMood = parseInt(overallMood)
                minMood = parseInt(minMood)
                maxMood = parseInt(maxMood)

                if (minMood > maxMood) {
                    var msg = '** Min should not be greater than max **'
                    // evt.preventDefault();
                    // $('#alert-msg').html('** Min should not be greater than max **');
                }
                else if (!((minMood < overallMood) && (overallMood < maxMood))) {
                    var msg = '** Overall mood should be within mood range **'
                    // evt.preventDefault();
                    // $('#alert-msg').html('** Overall mood should be within mood range **');
                }
            }
            else if ((!minMood && maxMood) || (!maxMood && minMood)) {
                var msg = '** Both min and max must be entered or empty**';
            }

            if (msg) {
                evt.preventDefault();
                $('#alert-msg').html(msg);
            }
        }

        $('#day-mood-form').on('submit', validateMoodRange);

    </script>


{% endblock %}