{% extends 'base.html' %}

{% block content %}
    <h1>{{ drug.drug_name }}</h1>
    <p>Active ingredient(s): {{ drug.active_ingredients }}</p>
    <br><br>
    {% if drug.prescriptions %}
        <h3>Your Prescriptions</h3>
        {% for prescription in drug.prescriptions %}
            {% if prescription.user_id == session['user_id'] %}
            <li>
                {% if not prescription.end_date %}ACTIVE: {% endif %}
                <a href='/prescription_info/{{ prescription.prescription_id }}'>Dosage({{ prescription.dosage }}), Frequency({{ prescription.dosage }})</a>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    <h3><a href='/add_prescription?drug={{ drug.drug_id }}'>Add prescription with this drug</a></h3>
{% endblock %}    