{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row drug-database">
            <div class="col-xs-12">
              <h2>Psychiatric Medication Database</h2>
              <div id="drugs-table">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Generic Name</th>
                        <th>Brand Name(s)</th>
                        <th>Current Uses</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for drug in drugs %}
                        <tr class='drug-record' data-drug-id='{{ drug.drug_id }}'>
                            <td>{{ drug.generic_name.capitalize() }}</td>
                            <td>{{ drug.brand_name }}</td>
                            <td>{{ drug.uses }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>

    <!-- ADD PRESCRIPTION FOR DRUG MODAL -->
        <div class="modal fade" id="addPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="addPrescriptionLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="addPrescriptionTitle">Add Prescription</h3>
              </div>
              <form id="add-prescription-form" method='POST'>
                  <div class="modal-body">
                    <h3 id='generic-name'></h3>
                    <ul>
                        <li id='brand-name'></li>
                        <li id='uses'></li>
                    </ul> 
                    
                        <input id='drug-id' type='hidden' name='drug-id'>
                        <div class="form-group">
                            <label for='client-name'>Client:</label>
                            <select id='client' name='clientId'>
                                {% for client in pro.professional.sort_clients().active %}
                                 <option value='{{ client.user_id }}'>{{ client.username }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for='start-date'>Start Date: </label>
                            <input class='form-control' id='start-date' type='text' name='startDate' readonly="true" required>
                        </div>
                        <div class="form-group">
                            <label for='instructions'>Instructions: </label>
                            <input class='form-control' id='instructions' type='textarea' name='instructions' required>
                        </div>
                        <div class="form-group">
                            <label for='notes'>Notes: </label>
                        <input class='form-control' id='notes' type='textarea' name='notes'>
                        </div>                    
                    </div>
                    <div class='modal-footer'>
                        <button class='btn btn-primary' type='submit'>Submit</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF ADD PRESCRIPTION MODAL -->

    <script>
        $('#user-specific-page').html('<li><a href=\'/drugs\'>Medications Database</a></li>');
        $('.drug-record').on('dblclick', function(evt){
            var genericName = this.children[0].innerHTML;
            $('#generic-name').html(genericName.charAt(0).toUpperCase() + genericName.slice(1));
            $('#brand-name').html('Brand Name(s): ' + this.children[1].innerHTML);
            $('#uses').html('Known Uses: ' + this.children[2].innerHTML);
            $('#start-date').datepicker({
                changeMonth: true,
                changeMonth: true,
                minDate: '-2M',
                maxDate: '1Y',
                dateFormat: 'yy-mm-dd'    
            });
            var drugId = this.dataset['drugId'];
            $('#drug-id').val(drugId);
            $('#addPrescriptionModal').modal('toggle');

            $('#add-prescription-form').on('submit', function(evt) {
                evt.preventDefault();
                formInputs = {
                            clientId: $('#client').val(),
                            drugId: $('#drug-id').val(),
                            instructions: $('#instructions').val(),
                            notes: $('#notes').val(),
                            startDate: $('#start-date').val()
                        }
                addPrescription();
                $('#addPrescriptionModal').modal('hide');
            });
            function addPrescription() {
                    $.post('/add_prescription.json', formInputs, function(data) {
                        // console.log(data);
                    });
                };

        });
    </script>
{% endblock %}    