{% extends 'base.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <script src='static/mood_chart.js'></script>
    <button type='button' class='move-time-button' value='backward'>&lt;</button>
    <select id='chart-time-window' name='time-window'>
        <option value='month'>Monthly</option>
        <option value='quarter' selected='selected'>Quarterly</option>
        <option value='bi-annual'>Bi-Annually</option>
        <option value='year'>Annual</option>
        <option value='all-time'>All time</option>
    </select>
    <button type='button' class='move-time-button' value='forward'>&gt;</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button type="button" id="toggle-events">Toggle Events</button><br><br>

    <!-- Mood Chart -->
    <div class="mood-chart" style='height: 50vh; width: 75vw'>
      <canvas id="moodChart"></canvas>
    </div>
    <script>
        {% if user_info.user.days %}
            // Declare moodChart var outside AJAX request, so can access it outside later
            var moodChart;
            var ctx = $('#moodChart').get(0).getContext('2d');

            var firstLog = '{{ user_info.daylog_info.firstlog_date}}';
            var currentQuarter = [moment().startOf('quarter').format('YYYY-MM-DD'), moment().endOf('quarter').format('YYYY-MM-DD')];
            createMoodChart(currentQuarter[0], currentQuarter[1]);
        {% endif %}

        $('#chart-time-window').on('change', function () {
            var timeWindow = this.value;
            changeTimeWindow(timeWindow);
        });

        $('#toggle-events').on('click', function (evt) {
            var events = moodChart.data.datasets.filter(function (dataset) {return dataset.label == 'event'});
            for (i=0; i<events.length; i++) {
                if (events[i].borderColor != 'rgba(255,153,0,0.7)') {
                    events[i].borderColor = 'rgba(255,153,0,0.7)';
                }
                else {
                    events[i].borderColor = 'rgba(0,0,0,0)';
                }
            }
            moodChart.update();
        });

    </script>
    <br>

    <!-- Log Details: Search and view details on same page -->
    <div class='log-search'>
        <!-- <h3>Choose a time period to look at</h3> -->
        <label for='start-date'>Day:</label>
        <input id='start-date' type='text' name='start-date' readonly="true" required>
        <button type='button' id='clear-search'>Clear Search Results</button>
<!--         <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <label for='end-date'>End:</label>
        <input id='end-date' type='text' name='end-date' readonly="true" required><br>
 -->
        <script src='static/datepicker.js'></script>
        <script>
            // When DOM is ready, turn date input to datepicker
            $( function() {                 
                $( "#start-date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    maxDate: new Date(),
                    dateFormat: 'yy-mm-dd'
                });

                // $( "#end-date" ).datepicker({
                //     changeMonth: true,
                //     changeYear: true,
                //     maxDate: new Date(),
                //     dateFormat: 'yy-mm-dd'
                // });
            } );

            $('#start-date').on('change', function(evt) {
                startDate = this.value;
                $('.main-log').empty();
                $('.associated-logs').empty();
                // endDate =
                $.get('/search_log_results.json',
                    {startDate: startDate},
                    function(data) {
                        $('.main-log').html('<h3>Day: ' + data.date + '</h3><ul></ul>');
                        $('.main-log ul').append('<li>Overall Mood:' + data.overall_mood + '</li>');
                        $('.main-log ul').append('<li>Mood Range: ' + data.min_mood + ' to ' + data.max_mood + '</li>');
                        $('.main-log ul').append('<li>Notes: ' + data.notes + '</li>');
                        // debugger;
                        for (i = 0; i < data.events.length; i++){
                            var assocEvent = data.events[i]
                            $('.associated-logs').append('<h4>' + assocEvent[1] + '</h4><ul id=\'assocEvent-' + assocEvent[0] + '\'><li>' + event.notes + '</li></ul>');
                        }
                    });
            });

            $('#clear-search').on('click', function(evt) {
                $('.main-log').empty();
                $('.associated-logs').empty();
            });
        </script>
    </div>
    <div class='log-details'>
        <div class='main-log'>
<!--             <h3>Day: </h3>
            <ul>
                <li class='overall-mood'>Overall Mood: </li> -->
        </div>
        <div class='associated-logs'></div>
    </div>
{% endblock %}