{% extends 'base.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <button type='button' class='move-time-button' value='backward' disabled>&lt;</button>
    <select id='chart-time-window' name='time-window'>
        <option value='all-time'>All time</option>
        <option value='month'>Monthly</option>
        <option value='quarter'>Quarterly</option>
        <option value='bi-annual'>Bi-Annually</option>
        <option value='year'>Annual</option>
    <select>
    <button type='button' class='move-time-button' value='forward' disabled>&gt;</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button type="button" id="toggle-events">Toggle Events</button><br><br>

    <!-- Mood Chart -->
    <div class="mood-chart" style='height: 50vh; width: 75vw'>
      <canvas id="moodChart"></canvas>
    </div>
    <script src='static/mood_chart.js'></script>
    <script>
        {% if user_info.user.days %}
            // Declare moodChart var outside AJAX request, so can access it outside later
            var moodChart;
            var ctx = $('#moodChart').get(0).getContext('2d');

            var firstLog = '{{ user_info.day_log_range[0] }}';
            var maxDate = moment().format('YYYY-MM-DD');
            createMoodChart(firstLog, maxDate);
        {% else %}
            $('.mood-chart').html('You Have Not Logged Any Days!')
        {% endif %}

        $('#chart-time-window').on('change', function () {
            var timeWindow = this.value;
            changeTimeWindow(timeWindow);
        });

    </script>
    <br>

{% endblock %}