{% extends 'base.html' %}

{% block content %}
    <h1>Add prescription of {{ drug.drug_name }}</h1>
    <form action='/add_prescription' method='POST'>
        <label for='dosage'>Dosage: </label>
        <input id='dosage' type='text' name='dosage' required><br>

        <label for='frequency'>Frequency: </label>
        <input id='frequency' type='text' name='frequency' required><br>

        <label for='start-date'>Start Date *: </label>
        <input id='start-date' type='date' name='start-date' min='1900-01-01' required><br>

        <!-- If there was a previous prescription, new prescription has to be started after the last was ended -->
        {% if last_prescription %}
            <h4>* Your 
                <a href='prescription_info/{{ last_prescription.prescription_id }}'>
                    last presciption
                </a>
                ended {{ last_prescription.end_date }}. Your new prescription cannot have started before then.
            </h4>:          

            <script>
                var lastDate = '{{ last_prescription.end_date }}';
                var lastDate = lastDate.slice(0, 10)
                $('#start-date'). attr('min', lastDate)
            </script>
        {% endif %}

        <!-- Set max start date of nex prescription to current day -->
        <script>
            var d = new Date();
            var day = d.getDate();
            if (day < 10) {
                day = '0' + day;
            }
            var dStr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + day;
            $('#start-date').attr('max', dStr);
        </script>

<!--         <label for='end-date'>End Date: </label>
        <input id='end-date' type='date' name='end-date'><br> -->

        <label for='physician'>Prescribed By: </label>
        <input id='physician' type='text' name='physician' required><br>

        <input id='drug-id' type='hidden' name='drug-id' value={{drug.drug_id }}>

        <input type='submit' value='Add Prescription'>
{% endblock %}    