{% extends 'base.html' %}

{% block content %}
    <h1>Prescription of <a href='/drugs/{{ prescription.drug.drug_id }}'>{{ prescription.drug.drug_name }}</a> for {{prescription.user.username }}</h1>
    <ul>
        <li>Dosage: {{ prescription.dosage }}</li>
        <li>Frequency: {{ prescription.frequency }}</li>
        <li>Started: {{ prescription.start_date }}</li>
        <li>Ended: {{ prescription.end_date }}</li>
        <li>Prescribed by: {{ prescription.physician }}</li>
    </ul>

    <!-- If prescription is active, give option to end and create new prescription -->
    {% if not prescription.end_date %} 
    <h3>This prescription is active. You can end it and add a new prescription for the same drug with different details (ex. dosage, frequency)</h3>
        <form action='/end_prescription' method='POST'>
            <label for='end-date'>End Date: </label>
            <input id='end-date' type='date' name='end-date' required><br>

            <!-- Set max of end date to current day, set min to start date -->
            <script>
            
                var d = new Date();
                var day = d.getDate();
                if (day < 10) {
                    day = '0' + day;
                }
                var dStr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + day;
                console.log(dStr);
                $('#end-date').attr('max', dStr);

                var minDate = '{{ prescription.start_date }}'
                $('#end-date').attr('min', minDate.slice(0, 10))

            </script>

            <!-- Give option to add new prescription right after ending current one -->
            <label for='add-prescription'>Add new prescription for this drug?</label>
            <input id='add-prescription' type='checkbox' name='add-prescription' value='True'><br>
            <input id='prescription-id' type='hidden' name='prescription-id' value='{{ prescription.prescription_id }}'>
            <input type='submit' value='End Prescription'>
        </form>
    {% endif %}
{% endblock %}    