{% extends 'base.html' %}

{% block content %}
    <h1>Add prescription of {{ drug.drug_name }}</h1>
    <form id='add-prescription' action='/add_prescription' method='POST'>
        <label for='dosage'>Dosage: </label>
        <input id='dosage' type='text' name='dosage' required><br>

        <label for='frequency'>Frequency: </label>
        <input id='frequency' type='text' name='frequency' required><br>

        <label for='start-date'>Start Date *: </label>
        <input id='start-date' type='text' name='start-date' required><br>

        <!-- If there was a previous prescription, new prescription has to be started after the last was ended -->
        

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            // When DOM is ready, turn date input to datepicker
            $( function() {
            $( "#start-date" ).datepicker({
              changeMonth: true,
              changeYear: true,
              // restrict date range from 2 Y ago to current day
              minDate: '-2Y',
              maxDate: new Date(),
              dateFormat: 'yy-mm-dd'
            });
            } );
        </script>

        {% if last_prescription %}
            <script>
                // Restrict date range of start date
                // Earliest start is end date of last prescription
                $( function() {
                    $('#start-date').datepicker('option', 'minDate', '{{ last_prescription.end_date }}');
                } );
            </script>

            <h4>* Your 
                <a href='prescription_info/{{ last_prescription.prescription_id }}'>
                    last presciption
                </a>
                ended {{ last_prescription.end_date }}. Your new prescription cannot have started before then.
            </h4>          

            
        {% endif %}

<!--         <label for='end-date'>End Date: </label>
        <input id='end-date' type='date' name='end-date'><br> -->

        <label for='physician'>Prescribed By: </label>
        <input id='physician' type='text' name='physician' required><br>

        <input id='drug-id' type='hidden' name='drug-id' value={{drug.drug_id }}>

        <input type='submit' value='Add Prescription'>
{% endblock %}    