{% extends 'base.html' %}

{% block content %}
    <!-- Show basic user info -->
    <h1>{{ pro.username }}'s Dashboard </h1>

    <label for='client-to-view'>Client:</label>
    <select id='client-to-view' name='client-id'>
        <option selected='selected' disabled>Select client</option>
        {% for client in pro.professional.sort_clients().active %}
         <option value='{{ client.user_id }}'>{{ client.username }}</option>
         {% endfor %}
    </select>
    <br>

    <div id='client-details' style='display:none'>
        <h3 id='client-name'></h3>
        <h5>Client Prescriptions</h5>
        <ul id='client-meds'></ul>

        <!-- Day Log Mood Chart -->
        <div class="mood-chart" style='height: 50vh; width: 75vw'>
          <canvas id="moodChart"></canvas>
        </div>
        <!-- <button type="button" id="toggle-events">Toggle Events</button><br><br> -->
        <script src='static/mood_chart.js'></script>
        <script>
            // Select canvas for mood chart
            var ctx = $('#moodChart').get(0).getContext('2d');
            // Declare moodChart var outside AJAX request, so can access it outside later
            var moodChart;
            var currentQuarter = [moment().startOf('quarter').format('YYYY-MM-DD'), moment().endOf('quarter').format('YYYY-MM-DD')];
            
        </script>

    </div>

    <script>
        $('#client-to-view').on('change', function(evt){
            $.get('/client_prescriptions.json', {client_id: this.value}, function(data) {
                $('#client-details').show()
                $('#client-name').html(data.username)
                var prescriptions = data.prescriptions
                var medText = ''
                for (var key in prescriptions) {
                    // For each drug type in prescriptions add an unordered list element
                    // Start an ordered list under that element
                    medText = medText + '<li>' + key + '</li><ol>';
                    var prescriptionArray = prescriptions[key];
                    for (i = 0; i < prescriptionArray.length; i++) {
                        // For each prescription of a drug, add it as an ordered list element
                        var prescription = prescriptionArray[i];
                        medText = medText + '<li>Started ' + prescription.start_date;
                        // Label if it's active
                        if (!prescription.end_date) {
                            medText = medText + ' [ACTIVE]';
                            if (prescription.pro_username == '{{ pro.username }}') {
                                medText = medText + '&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#change-prescription-modal">Change Prescription</button>';
                            }
                        }
                        medText = medText + '</li><ul>';

                        if (prescription.end_date) {
                            medText = medText + '<li>Ended: ' + prescription.end_date;
                        }
                        medText = medText + '<li>Prescribed by: ' + prescription.pro_username;
                        medText = medText + '</li><li>Instructions: ' + prescription.instructions;
                        if (prescription.notes) {
                            medText = medText + '</li><li>Notes: ' + prescription.notes;
                        }
                        medText = medText + '</li></ul>'
                    }
                medText = medText + '</li></ol>'
                
                }
                medText = medText + '</ul>';
                $('#client-meds').html(medText);
            });
            if (moodChart) {
                moodChart.destroy();
            }
            createClientChart(currentQuarter[0], currentQuarter[1], this.value);
            
        });
    </script>

    <!-- Add Day Modal -->
    <div class="modal fade" id="change-prescription-modal" tabindex="-1" role="dialog" aria-labelledby="change-prescription-modal">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="change-prescription-title">Change Prescription </h4>
          </div>
          <div class="modal-body">
            <form id='add-prescription' action='/add_prescription' method='POST'>
                <label for='instruction'>Instructions: </label>
                <input id='instruction' type='text' name='instruction' required><br>

                <label for='notes'>Notes: </label>
                <input id='notes' type='text' name='notes' required><br>

                <input id='start-date' type='hidden'>              

                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    // When DOM is ready, turn date input to datepicker
                    $( function() {
                        $( "#start-date" ).val(moment().format('YYYY-MM-DD'));
                    });
                </script>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}