{% extends 'base.html' %}

{% block content %}
    <div class='container-fluid'>
        <h1>{{ pro.username }}'s Dashboard </h1>
        <div class='row' id='select-client'>
            <div class='col-xs-12 col-md-4'>
                <h4><label for='client-to-view'>Client:</label>
                <select id='client-to-view' name='client-id'>
                    <option selected='selected' disabled>Select client</option>
                    {% for client in pro.professional.sort_clients().active %}
                        <option value='{{ client.user_id }}'>{{ client.username }}</option>
                    {% endfor %}
            </select></h4>
            </div>
            <div class='col-xs-12 col-md-3 col-md-offset-5'>
                <h4><a href='/drugs'>Psychiatric Medications Database</a></h4>
            </div>
        </div>

        <div class='row client-info' id='client-meds'>
            <div class='col-xs-12 col-md-6'>
                <h4>Client's Active Prescriptions</h4>
                <ul id='client-active-meds'></ul>
            </div>
            <div class='col-xs-12 col-md-6'>
                <table class='table table-hover' style='display: none'>
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Physician</th>
                            <th>Instructions</th>
                        </tr>
                    </thead>
                    <tbody id='client-prescriptions-for-drug'>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='row client-info' id='client-chart'>
            <div class='col-xs-12'>
                <h3>Client Logs</h3>
                <button type='button' class='move-time-button' value='backward' disabled>&lt;</button>
                <select id='chart-time-window' name='time-window'>
                    <option selected='selected' disabled>Select A Time Window</option>
                    <option value='month'>Monthly</option>
                    <option value='quarter'>Quarterly</option>
                    <option value='bi-annual'>Semi-Annually</option>
                    <option value='year'>Annual</option>
                </select>
                <button type='button' class='move-time-button' value='forward' disabled>&gt;</button>
<!--                 <select id='analysis-type'>
                    <option value='mean'>Rolling mean</option>
                    <option value='std'>Rolling standard deviation</option>
                    <option value='test'>Testing</option>
                </select>
                 <button id='toggle-client-logs'>Toggle</button> -->
                <div class="mood-chart" style='height: 40vh;'>
                  <canvas id="moodChart"></canvas>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Prescription Modal -->
    <div class="modal fade" id="change-prescription-modal" tabindex="-1" role="dialog" aria-labelledby="change-prescription-modal">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="change-prescription-title">Change Prescription </h4>
          </div>
          <div class="modal-body">
            <form id='change-prescription' action='/add_prescription' method='POST'>
                <label for='instructions'>Instructions: </label>
                <input id='instructions' type='text' name='instructions' required><br>

                <label for='notes'>Notes: </label>
                <input id='notes' type='text' name='notes' required><br>

                <input id='start-date' type='hidden'>
                clickedPrescriptionId: <input id='old-prescription' type='text'> 
                <input id='drug-id' type='text'>
                <input id='client-id' type='text'>
                <input type='submit' value='Change Prescription'>

            </form>             

            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>


            </script>
          </div>
        </div>
      </div>
    </div>


    <script src='static/main.js'></script>
    <script src='static/mood_chart.js'></script>
    <script>

        // Set vars for client chart
        var ctx = $('#moodChart').get(0).getContext('2d');
        var moodChart;

        var currentClient;
        $('#client-to-view').on('change', function(evt){
            currentClient = this.value;
            showClientData(currentClient, '{{ pro.username }}');
        });

        $('#chart-time-window').on('change', function () {
            var timeWindow = this.value;
            changeTimeWindow(timeWindow);
        });

        // $(document).on('change', '#analysis-type', function(evt) {
        //     if (moodChart) {
        //         moodChart.destroy();
        //     }
        //     var currentYear = [
        //         moment().startOf('year').format('YYYY-MM-DD'),
        //         moment().endOf('year').format('YYYY-MM-DD')
        //     ];
        //     alert(this.value);
        //     createClientChart(currentYear[0], currentYear[1], currentClient, this.value);
        // });

        $(document).on('click', '#view-old', function(evt) {
            showPrescriptions(currentClient, this.dataset['drugId']);
        });

        $( function() {
            var currentDate = moment().format('YYYY-MM-DD');
            $( "#start-date" ).val(currentDate);
        });

        $('#change-prescription-modal').on('show.bs.modal', function(evt) {
            var button = $(evt.relatedTarget);
            $('#old-prescription').val(button[0].dataset['prescriptionId']);
            $('#drug-id').val(button[0].dataset['drugId']);
            $('#client-id').val(currentClient);


            $('#change-prescription').on('submit', function(evt) {
                evt.preventDefault();
                // debugger;
                formInputs = {
                    clientId: $('#client-id').val(),
                    drugId: $('#drug-id').val(),
                    instructions: $('#instructions').val(),
                    notes: $('#notes').val(),
                    startDate: $('#start-date').val()
                }
                // debugger;
                endPrescription($('#old-prescription').val());
                addPrescription(formInputs);
                showClientData($('#client-id').val(), '{{ pro.username }}');
            });
        });
    </script>
{% endblock %}