{% extends 'base.html' %}

{% block content %}
    <!-- Show basic user info -->
    <h1>{{ user_info.user.username }}'s Profile <h1>
    <h3>Email: {{ user_info.user.email }}</h3>

    <!-- Show mood logs -->
    <p>Mood logs:</p>
    
    <!-- Day Log Mood Chart -->
    <div class="mood-chart" style='height: 50vh; width: 75vw'>
      <canvas id="moodChart"></canvas>
    </div>
    <button type="button" id="toggle-events">Toggle Events</button><br><br>

    <script>
        {% if user_info.user.days %}
            // Set options for chart.js mood chart 
            var options = { responsive: true,
                            maintainAspectRatio: false,
                            // http://stackoverflow.com/questions/37061945/how-to-format-x-axis-time-scale-values-in-chart-js-v2
                            scales: {
                                xAxes: [{
                                    type:'time',
                                    unit: 'day',
                                    unitStepSize: 1,
                                    time: {
                                        displayFormats: {
                                            'day': 'MMM DD'
                                        },
                                    min: '{{ user_info.day_log_range[0] }}',
                                    max: '{{ user_info.day_log_range[1] }}'
                                    } 
                                }],
                                yAxes: [{
                                    // set y axis min and max from -50 to 50
                                    ticks: {
                                        min: -50,
                                        max: 50
                                    }
                                }]
                            },
                            legend: {
                                // hide label for each dataset
                                display: false
                            }};
            // Select canvas for mood chart
            var ctx = $('#moodChart').get(0).getContext('2d');

            // Declare moodChart var outside AJAX request, so can access it outside later
            var moodChart;

            // AJAX request for json to create line chart with
            $.get('/day_mood_chart.json', function (data) {
                moodChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
            });

            $('#toggle-events').on('click', function () {
                var events = moodChart.data.datasets.filter(function (dataset) {return dataset.label == 'event'});
                console.log(events);
                for (i=0; i<events.length; i++) {
                    if (events[i].borderColor != 'rgba(255,153,0,0.4)') {
                        events[i].borderColor = 'rgba(255,153,0,0.4)';
                    }
                    else {
                        events[i].borderColor = 'rgba(0,0,0,0)';
                    }
                }
                moodChart.update();

            });
        {% endif %}

    </script>

    <!-- Log Day Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#day-log-modal">
      Log A New Day
    </button>

    <!-- Add Day Modal -->
    <div class="modal fade" id="day-log-modal" tabindex="-1" role="dialog" aria-labelledby="day-log-modal">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="day-log-title">Log Day </h4>
          </div>
          <div class="modal-body">
            <form class="day mood-form" action='/log_day_mood' method='POST'>
                <label for='day-date'>Date: </label>
                <input type="text" class="day date" name="date" readonly="true" required><br>

                <label for='day-overall-mood'>Overall Mood: </label>
                <input class="day overall-mood" type='number' name='overall-mood' min='-50' max='50' required><br>

                <p id='day-mood-range'>Range of Mood: 
                <label for='day-min-mood'>Min: </label>
                <input class="day min-mood" type='number' name='min-mood' min='-50' max='50'>

                <label for='day-max-mood'>Max: </label>
                <input class='day max-mood' type='number' name='max-mood' min='-50' max='50'>
                <span class="day alert-msg" style='color:red;'></span><br>
                </p>

                <label for='day-notes'>Notes About This Day:</label>
                <input class="day notes" type='textarea' name='notes'><br>

                <input type='submit' value='Add Day Mood Log'>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Log Day Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#event-log-modal">
      Log A New Event
    </button>

    <!-- Add event Modal -->
    <div class="modal fade" id="event-log-modal" tabindex="-1" role="dialog" aria-labelledby="event-log-modal">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="event-log-title">Log Event </h4>
          </div>
          <div class="modal-body">
            <form class="event mood-form" action='/log_event_mood' method='POST'>
                <label for='event-name'>Event Name:</label>
                <input id='event-name' type-'text' name='event-name' required><br>
                <p> Duration 
                    <label for='event-start-date'>Start:</label>
                    <input class='event date' type='text' name='start-date' readonly="true" required>
                    <label for='event-end-date'>End:</label>
                    <input class='event date' type='text' name='end-date' readonly="true" required><br>
                </p>

                <label for='event-overall-mood'>Overall Mood: </label>
                <input class='event overall-mood' type='number' name='overall-mood' min='-50' max='50' required><br>

                <p id='event-mood-range'>Range of Mood: 
                <label for='event-min-mood'>Min: </label>
                <input class='event min-mood' type='number' name='min-mood' min='-50' max='50'>

                <label for='event-max-mood'>Max: </label>
                <input class='event max-mood' type='number' name='max-mood' min='-50' max='50'><span class="event alert-msg" style='color:red;'></span><br>
                </p>

                <label for='event-notes'>Notes About This Event:</label>
                <input class='event notes' type='textarea' name='notes'><br>

                <input type='submit' value='Add Event Mood Log'>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- js for datepickers -->
    <script src='static/datepicker.js'></script>
    <script>
        // Get list of dates to exclude from datepicker
        // |safe allows the python list to become a js array (if not the '[]' become something else)
        var excludeDates = {{ user_info.logged_days|safe }};

        // When DOM is ready
        $( function() {
            // Initialize jQuery datepicker for all date inputs
            createDatepicker('.date');
            // Disable existing logged days in the day log datepicker
            excludeLoggedDays('.day.date', excludeDates);
            // When a mood form is submitted, validate the mood range inputs
            $('.mood-form').on('submit', validateMoodRange);
        });
    </script>

    <!-- Show event logs -->
    <h3>Events:</h3>
    
    <ul>
        {% for event in user_info.user.events %}
        <li>
            <b>{{ event.event_name }}</b>
            <ul>
                {% for day in event.days %}   
                    <li>{{ day.date }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>       

    <!-- Show prescription logs -->
    <h3>Prescriptions:</h3>
    <h4><a href='/drugs'>Add prescription from drug list</a></h4>

    <ul>
        {% for drug, prescription_list in user_info.prescriptions.items() %}
        <li>
            <b>{{ drug }}</b>
            <ul>
                {% for prescription in prescription_list %}
                <li>
                    <a href='prescription_info/{{ prescription.prescription_id }}'>
                        Dosage: {{ prescription.dosage }},
                        Frequency: {{ prescription.frequency }}
                    </a>
                    <!-- Notes whether prescription is active -->
                    {% if not prescription.end_date %}[ ACTIVE ]{% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>


{% endblock %}    