{% extends 'base.html' %}

{% block content %}
    <!-- Show basic user info -->
    <h1>{{ user.username }}'s Profile <h1>
    <h3>Email: {{ user.email }}</h3>

    <!-- Show mood logs -->
    <p>Mood logs:</p>
    <h4><a href='/log_day_mood'>Add mood log for a day</a></h4>
    <h4><a href='/log_event_mood'>Add mood log for an event</a></h4>

    <ul>
        {% for day in user.days %}
        <li>
            <b>{{ day.datetime }}</b>
            <ul>
                <li>Overall: {{ day.overall_mood }}</li>
                {% if day.min_mood %}
                    <li>Range: {{ day.min_mood }} to {{day.max_mood }}
                {% endif %}
                {% if day.notes %}
                    <li>Notes: {{ day.notes }}</li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Show prescription logs -->
    <h3>Prescriptions:</h3>
    <h4><a href='/drugs'>Add prescription from drug list</a></h4>

    <ul>
        {% for drug, prescription_list in prescriptions.items() %}
        <li>
            <b>{{ drug }}</b>
            <ul>
                {% for prescription in prescription_list %}
                <li>
                    <a href='prescription_info/{{ prescription.prescription_id }}'>
                        Dosage: {{ prescription.dosage }},
                        Frequency: {{ prescription.frequency }}
                    </a>
                    <!-- Notes whether prescription is active -->
                    {% if not prescription.end_date %}[ ACTIVE ]{% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>


{% endblock %}    