{% extends 'base.html' %}

{% block content %}
    <!-- Show basic user info -->
    <h1>{{ user.username }}'s Profile <h1>
    <h3>Email: {{ user.email }}</h3>

    <!-- Show prescription logs -->
    <h3>Prescriptions:</h3>
    <h4><a href='/drugs'>Add prescription from drug list</a></h4>
    <ul>
        {% for drug, prescription_list in prescriptions.items() %}
        <li>
            <b>{{ drug }}</b>
            <ul>
                {% for prescription in prescription_list %}
                <li>
                    <!-- Notes whether prescription is active -->
                    <a href='prescription_info/{{ prescription.prescription_id }}'>
                        Dosage: {{ prescription.dosage }},
                        Frequency: {{ prescription.frequency }}
                    </a>
                    {% if not prescription.end_date %}[ ACTIVE ]{% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Show mood logs -->
    <p>Mood logs:</p>
{% endblock %}    